<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
<th:block th:insert="fragment/header"></th:block>

<!-- Employee list -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm border-0 mb-3">
                <div class="card-header text-bg-dark text-center">Employees List</div>
                <div class="m-3">
                    <a th:href="@{/employees/add}" class="btn btn-primary">Add Employee</a>
                </div>
               <div>
                   <h3 th:text="${employee.getName()}"></h3>
                   <h3 th:text="${employee.getEmail()}"></h3>
                   <h3 th:text="${employee.getDateOfBirth()}"></h3>
                   <h3 th:text="${employee.getLevel()}"></h3>
               </div>

            </div>
        </div>
    </div>
</div>
<!-- Employee list -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>